html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'M PLUS 1p', sans-serif;
}

#main-title {
	width: 100%;
	text-align: center;
	padding-top: 15%;
	font-size: 300%;
}

#main-title--subtitle {
	font-size: 33%;
}

#background {
	position: fixed;
	left: calc(50% - 960px);
	top: calc(50% - 540px);
	z-index: -9999;
	opacity: 0.2;
}